* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: rgb(76, 75, 75);
    font-family: sans-serif;
}

#icon {
    margin-right: 70vw;
    color:  rgb(236, 236, 191);
    font-size: x-large;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
}

#nav-links a {
    text-decoration: none;
    color:  rgb(236, 236, 191);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a:hover {
    color: darkgray;
    transition: ease 0.4s;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: rgb(236, 236, 191);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#line_2 {
    transform: rotate(180deg) translate(0.5px, 5.5px);
}

#line_1 {
    transform: rotate(-180deg) translate(0.5px, 5.5px);
}

#line_3 {
    transform: rotate(-180deg) translate(0.5px, 5.5px);
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    margin-top: -10px;
    transform: rotate(-45deg) translate(-5.5px, 6.5px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#burger {
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
}

/* Index header */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: url(../img/brud_brudgum.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .intro h1 {
    font-family: serif;
    font-size: 60px;
    color: rgb(236, 236, 191);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .intro p {
    font-size: 20px;
    color:  rgb(236, 236, 191);;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: sans-serif;
  }
  

  .lär_känna_mig {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 100%;
  }

  #container {
	display: block;
	justify-content: center;
	width: 60%;
    background: beige;
    height: 40vh;
    text-align: center;
    font-size: large;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: beige;
    height: 80vh;
  }

  #box_1 {
    text-align: center;
    font-size: large;
    padding: 50px;
    line-height: 1.4;
    width: 40vw;
    margin-left: 20px;
    margin: 60px;
  }

  h2 {
    font-size: xx-large;
  }

  #box_2 {
    height: 80vh;
    margin: 60px;
    margin-right: 150px;
    width: 30vw;
    object-fit: cover;
  }

  #box_3 {
    background: beige;
  }

  .review {
    height: auto;
    background-color: rgba(198, 77, 41, 0.708);
    text-align: center;
    line-height: 1.4;
    padding: 30px;
  }

  .review p {
    padding: 15px;
  }

/* Header för alla sidor exluderande index */

figure {
    position: relative;
    text-align: center;
    background-color: rgb(76, 75, 75);
    height: 60vh;
    z-index: -1;
}

#undertitle {
    background-color: black;
    color: rgb(236, 236, 191);
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 1.25rem;
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    padding: 30px;
}

/* Footer */

.footer {
    background-color: #65b1e7c0;
    padding: 40px 80px;
  }
  
  .footer .copy {
    color: black;
    text-align: center;
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
  }
    
  .bottom-links .links a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
  }