* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}  

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: rgb(76, 75, 75);
    font-family: sans-serif;
}

#icon {
    margin-right: 70vw;
    font-size: x-large;
}

#icon > * {
    text-decoration: none;
    color:  rgb(236, 236, 191);
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
    background-color: rgb(76, 75, 75);;
}

#nav-links a {
    text-decoration: none;
    color:  rgb(236, 236, 191);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a:hover {
    color: darkgray;
    transition: ease 0.4s;
    background-color: rgb(236, 236, 191);
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: rgb(236, 236, 191);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#line_2 {
    transform: rotate(180deg) translate(0.5px, 5.5px);
}

#line_1 {
    transform: rotate(-180deg) translate(0.5px, 5.5px);
}

#line_3 {
    transform: rotate(-180deg) translate(0.5px, 5.5px);
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    margin-top: -10px;
    transform: rotate(-45deg) translate(-5.5px, 6.5px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#burger {
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
}

/* Index header */
  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: url(../img/brud_brudgum.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #intro h1 {
    font-family: serif;
    font-size: 60px;
    color: rgb(236, 236, 191);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }
  
  #intro p {
    font-size: 20px;
    color:  rgb(236, 236, 191);;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: sans-serif;
  }
  

  .lär_känna_mig {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
  }

  #container {
	display: block;
	justify-content: center;
	width: 60%;
    background: beige;
    text-align: center;
    font-size: large;
    padding: 20px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.index_img_2 {
    background-color: beige;
    object-fit: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

h2 {
    font-size: xx-large;
    font-family: serif;
    text-align: center;
}

  #margin_top {
    margin-top: 50px;
}

  p {
    font-family: 'Times New Roman';
    line-height: 1.4;
    padding: 15px;
    margin-bottom: 15px;
    font-size: large;
  }

  li {
    text-align: left;
  }

  .review {
    background-color: rgba(198, 77, 41, 0.708);
    text-align: center;
    padding: 30px;
  }

/* Header för alla sidor exluderande index */

figure {
    position: relative;
    text-align: center;
    background-color: rgb(76, 75, 75);
    height: 60vh;
    z-index: -1;
}

#undertitle {
    background-color: black;
    color: rgb(236, 236, 191);
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    padding: 30px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.par_intro {
    height: auto;
    padding: 100px;
    text-align: center;
}

#par_1 {
    height: 140vh;
    width: 120%;
    margin-bottom: -4px;
}

#par_2 {
    width: 100%; 
    height: 100vh;
    margin-bottom: -4px;
}

#par_3 {
    height: 90vh; 
    width: 100%;
}

img {
    object-fit: cover;
    width: 100%;
}

#img_style { 
    height: auto; 
    width: 105%;
    margin-bottom: -4px;
}

.vertical_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}

#text_1, #text_2, #text_3, #text_4, #text_5, #text_6 {
    align-items: center;
    box-sizing: border-box;
    margin: 1rem;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 300px;
    border-radius: 25px;
    padding: 0.9375rem;
    background-color: rgba(198, 77, 41, 0.708);
    color: white;  
    height: 240px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075)
  ;
}

#text_1 {
    grid-area: a1;
}

#text_ {
    grid-area: a2;
}

#text_3 {
    grid-area: a3;
}

#text_4 {
    grid-area: a4;
}

#text_5 {
    grid-area: a5;
}

#text_6 {
    grid-area: a6;
}

#text_1 h3, #text_2 h3, #text_3 h3, #text_4 h3, #text_5 h3, #text_6 h3 {
    color: black;

}

#text_4, #text_5, #text_6 {
    margin-top: -20px;
}

.button > * { 
	text-decoration: none;
    color: black;
}

.button {
    font-family:sans-serif;
    padding: 15px;
    border: 2px solid black;
    display: table;
    margin: auto;
    text-align: center;
    width: 150px;
}

#margin_bottom {
    margin-bottom: 50px;
}

#margin {
    margin-top: -60px;
    margin-bottom: 60px;
}

#text_1_2, #text_2_2, #text_3_2 {
    display: block;
    box-sizing: border-box;
    margin: 1.5rem;
    margin-top: 50px;
    width: 280px;
    padding: 0.9375rem;
    height: 60vh;
    width: 60vw;
    text-align: left;
}

#text_1_3, #text_2_3, #text_3_3 {
display: block;
box-sizing: border-box;
margin: 2.5rem;
width: 280px;
border-radius: 25px;
padding: 30px;
background-color: rgba(198, 77, 41, 0.708); 
height: 100px;
box-shadow:
0 1px 1px hsl(0deg 0% 0% / 0.075),
0 2px 2px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075)
;
 }

#text_1_4, #text_2_4, #text_3_4 {
    display: block;
    box-sizing: border-box;
    margin: 2.5rem;
    margin-top: 50px;
    width: 280px;
    border: 5px solid black;
    padding: 20px;
    height: 40vh;
}

.padding {
    padding: 50px;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: beige;
  }

.index_img_1 {
    max-width: 100%;
    height: 100%;
    padding: 50px;
}

#box_1, #box_2, #box_3, #box_4, #box_5, #box_6 {
    height: auto;
}

#box_2 {
    display: flex;
    align-items: center;
}

.box_1_2 {
    text-align: center;
    font-size: large;
    width: 40vw;
    margin: 50px;
    height: auto;
}

.box_2_2 {
    text-align: center;
    font-size: large;
    padding: 30px;
    width: 40vw;
    margin-top: 40px;
}

#box_3_2 {
    text-align: center;
    font-size: large;
    padding: 50px;
    width: 40vw;
    margin-left: 20px;
    margin: 60px;
    height: auto;
}

#brollop_2 {
    height: auto; 
    width: 620px
}

#brollop_3 {
    height: auto; 
    width: 630px;
    margin-bottom: -4px;
}

#brollop_4 {
    height: auto;
}

/* Portfolio */

.bakgrund {
    padding-top: 80px;
}

#bakgrund_1 {
    background-color: beige;
}

#bakgrund_2 {
    background-color: white;
}

.gridWrapper {
    display: grid;
    margin: 25px;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-bottom: 100px;
    grid-gap: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}

.gridWrapper > article {
    background-repeat: no-repeat;
    background-size: cover;
}

#gridwrapper_1 { 
    grid-template-areas: 
    "a1 a2 a3"
    "a4 a5 a6"
    "a7 a8 a9"
    "a10 a11 a12"
    ;

    grid-template-rows: repeat(4, 1fr);
}


#gridwrapper_2 {
    grid-template-areas: 
    "a1 a2 a3"
    "a4 a5 a6"
    ;

    grid-template-rows: repeat(2, 1fr);
}

article {
    width: 30vw;
    height: 20vw;
}

.article1 {
    grid-area: a1;
    background: url(../img/article.1.avif);
}

.article2 {
    grid-area: a2;
    background: url(../img/article.2.avif);
}

.article3 {
    grid-area: a3;
    background: url(../img/article.3.avif);
}

.article4 {
    grid-area: a4;
    background: url(../img/article.4.avif);
}

.article5 {
    grid-area: a5;
    background: url(../img/article.5.avif);
}

.article6 {
    grid-area: a6;
    background: url(../img/article.6.avif);
}

.article7 {
    grid-area: a7;
    background: url(../img/article.7.avif);
}

.article8 {
    grid-area: a8;
    background: url(../img/article.8.avif);
}

.article9 {
    grid-area: a9;
    background: url(../img/article.9.avif);
}

.article10 {
    grid-area: a10;
    background: url(../img/article.10.avif);
}

.article11 {
    grid-area: a11;
    background: url(../img/article.11.avif);
}

.article12 {
    grid-area: a12;
    background: url(../img/article.12.avif);
}

.article1_2 {
    grid-area: a1;
    background: url(../img/article.1.2.avif);
}

.article2_2 {
    grid-area: a2;
    background: url(../img/article.2.2.avif);
}

.article3_2 {
    grid-area: a3;
    background: url(../img/article.3.2.avif);
}

.article4_2 {
    grid-area: a4;
    background: url(../img/article.4.2.avif);
}

.article5_2 {
    grid-area: a5;
    background: url(../img/article.5.2.avif);
}

.article6_2 {
    grid-area: a6;
    background: url(../img/article.6.2.avif);
}

.article7_2 {
    grid-area: a7;
    background: url(../img/article.7.2.avif);
}

.article8_2 {
    grid-area: a8;
    background: url(../img/article.8.2.avif);
}

.article9_2 {
    grid-area: a9;
    background: url(../img/article.9.2.avif);
}

.article10_2 {
    grid-area: a10;
    background: url(../img/article.10.2.avif);
}

.article11_2 {
    grid-area: a11;
    background: url(../img/article.11.2.avif);
}

.article12_2 {
    grid-area: a12;
    background: url(../img/article.12.2.avif);
}

#portfolio_1 {
    height: 105vh; 
    width: 150%;
    margin-bottom: -4.5px;
}


/* om mig */

#varför_matcha {
    background-color: rgba(198, 77, 41, 0.708);
}

#perfekt_match {
    background-color: beige;
    height: auto;
}

#om_mig {
    height: 115vh; 
    width: 650px;
    margin-bottom: -4px;
    max-width: 100%;
}


/* Kontakt*/

#kontakt_1 {
    height: 100vh; 
    width: 160%;
    margin-bottom: -4px;
}

.form {
    background-color: rgba(198, 77, 41, 0.708);
    padding: 50px;
}

.sign-up-form {
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.form-input {
    margin-bottom: 1em;
}

.form-input input {
    width: 30vw;
    padding: 10px;
    border: none;
    font-weight: 600;
}

.submit-btn {
    cursor: pointer;
    width: 20vw;
    padding: 1em;
    border: none;
    border-bottom: 5px solid rgb(72, 69, 69);
    border-radius: 0.5em;
    background-color: black;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.submit-btn:hover {
    background-color: rgb(95, 95, 95);
}

#submit {
    display: flex;
    justify-content: center;
}

/* Footer */

.footer {
    background-color: #65b1e7c0;
    padding: 40px 80px;
  }
  
  .footer .copy {
    color: black;
    text-align: center;
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
  }
    
  .bottom-links .links a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
  }

  #arrow_div {
	text-align: center;
	grid-area: arrow;
}

  /* För vår pil som ska skrolla upp på sidan */ #scroll_arrow {
	height: 10px;
	width: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(-135deg);
	background-color: transparent !important;
}

/* Mobil layout */

@media screen and (max-width: 768px) {

    #intro h1 {
        font-size:7vw;
    }

    #intro p {
        font-size:3vw;
    }

    #undertitle{
        font-size: 7vw;
    }

    h2 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }

    .button {
        font-size: 3vw;
        padding: 10px;
    }

    #container { 
	    width: 80%; 
        height: auto;
    }

    .box {
        flex-direction: column;
    }

    .index_img_1 {
        padding: 0%;
        width: 100%;
        height: auto;
    }

    .index_img_2 {
        display: none;
    }

    #kontakt_1 {
        display: none;
    }

    #box_1, #box_2, #box_3, #box_4, #box_5, #box_6 {
        height: fit-content;
        justify-content: center;
    }

    #box_1.about, #box_2.about, #box_3.about, #box_4.about, #box_5.about, #box_6.about {
        flex-direction: column;
        align-items: center;
    }

    .box_1_2 {
        height: fit-content;
        width: 75%;
    }

    .box_2_2 {
        width: auto;
        margin-top: 0;
    }

    .width {
        max-width: 100%;
        height: fit-content;
        width: 580px;
        padding: 0;
    }

    .par_intro {
        padding: 50px;
    }

    #par_1, #par_2, #par_3, #brollop_2, #brollop_3, #brollop_4, #portfolio_1 {
        width: 100%;
        height: auto;
    }

    .padding {
        padding: 0;
    }

    .vertical_text {
        flex-direction: column;
    }

    #box_3_2 {
        margin: 0;
        height: fit-content;
    }

    #padding {
        padding: 0;
    }

    #text_2, #text_3, #text_4, #text_5, #text_6 {
        margin-top: 0;
    }

    #text_1_2, #text_2_2, #text_3_2 {
        margin: 10px;
        padding: 0;
        width: 50vw;
        height: 25vh;
    }

    #text_1_2 {
        margin-top: 80px;
    }

    #text_3_2 {
        margin-bottom: 20px;
    }

    #icon {
        margin-right: 50vw;
    }

    .lär_känna_mig {
        height: 40vh;
    }

    .footer {
        padding: 40px 40px;
      }

    figure {
        height: 40vh;
    }

    #img_style {
        width: 100%;
    }

    #text_1_4, #text_2_4, #text_3_4 {
        height: auto;
    }
}

/*iPad layout*/

@media screen and (min-width: 769px) and (max-width: 1000px){

    p {
        text-align: justify;
    }

    figure {
        height: 40vh;
    }

    #par_1 {
        width: 100%;
        height: 80vh;
        margin-bottom: -4px;
    }
    
    #par_2 {
        width: 100%;
        height: 55vh;
    }
    
    #par_3 {
        height: 50vh;
        width: 100%;
    }

    #kontakt_1 {
        width: 100%;
        height: 55vh;
        margin-bottom: -4px;
    }

    #om_mig{
        width: 100%;
        height: 65vh;
        margin-bottom: -4px;
    }
    
    #portfolio_1 {
        width: 100%;
        height: 55vh;
        margin-bottom: -4px;
    }

    #brollop_2 {
        height: 70vh;
        width: 100%;
    }

    #brollop_3 {
        height: 100vh;
        width: 100%;
    }

    #brollop_4 {
        height: 40vh;
        width: 100%;
    }

    h3 {
        margin-top: 10px;
    }

    #text_1, #text_2, #text_3 {
        padding: 10px;
    }

    #fit {
        width: fit-content;
    }

    #text_1_2, #text_2_2, #text_3_2 {
        height: 40vh;
    }

    #text_1_3, #text_2_3, #text_3_3 {
        width: auto;
    }

    #text_1_4, #text_2_4, #text_3_4 {
        width: auto;
    }

    #text_1_4, #text_2_4, #text_3_4 {
        height: 30vh;
    }

    .lär_känna_mig {
        height: 40vh;
    }

    #box_6 {
    height: 50vh;
    }
    
    .width {
        width: 50%;
    }

    #img_style {
        height: 90vh;
    }

    #box_1, #box_2, #box_3, #box_4, #box_5, #box_3_2 {
        height: auto;
    }

    .box_1_2 {
        height: auto;
        width: 50%;
    }
}
