* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: rgb(76, 75, 75);
    font-family: sans-serif;
}

#icon {
    margin-right: 70vw;
    color:  rgb(236, 236, 191);
    font-size: x-large;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
}

#nav-links a {
    text-decoration: none;
    color:  rgb(236, 236, 191);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-active {
    transform: translateY(100vh);
}

#nav-links a:hover {
    color: darkgray;
    transition: ease 0.4s;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: rgb(236, 236, 191);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#line_2 {
    transform: rotate(180deg) translate(0.5px, 5.5px);
}

#line_1 {
    transform: rotate(-180deg) translate(0.5px, 5.5px);
}

#line_3 {
    transform: rotate(-180deg) translate(0.5px, 5.5px);
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    margin-top: -10px;
    transform: rotate(-45deg) translate(-5.5px, 6.5px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#burger {
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
}

/* Index header */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: url(../img/brud_brudgum.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .intro h1 {
    font-family: serif;
    font-size: 60px;
    color: rgb(236, 236, 191);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .intro p {
    font-size: 20px;
    color:  rgb(236, 236, 191);;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: sans-serif;
  }
  

  .lär_känna_mig {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 100%;
  }

  #container {
	display: block;
	justify-content: center;
	width: 60%;
    background: beige;
    height: 40vh;
    text-align: center;
    font-size: large;
}

  h2 {
    font-size: xx-large;
    font-family: serif;
    text-align: center;
  }

  p {
    font-family: sans-serif;
    line-height: 1.4;
    padding: 15px;
  }

  .review {
    height: auto;
    background-color: rgba(198, 77, 41, 0.708);
    text-align: center;
    padding: 30px;
  }

/* Header för alla sidor exluderande index */

figure {
    position: relative;
    text-align: center;
    background-color: rgb(76, 75, 75);
    height: 60vh;
    z-index: -1;
}

#undertitle {
    background-color: black;
    color: rgb(236, 236, 191);
    font-weight: bold;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    padding: 30px;
}

.par_intro {
    height: auto;
    padding: 100px;
    text-align: center;
}

img {
    object-fit: cover;
}

#hur_går_till {
    height: auto;
    padding: 35px;
}

#hur_går_till h2 {
    font-size: 40px;
}

.vertical_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    margin: 30px;
}

#text_1, #text_2, #text_3, #text_4, #text_5, #text_6 {
    display: block;
    box-sizing: border-box;
    margin: 2.5rem;
    width: 280px;
    border-radius: 25px;
    padding: 0.9375rem;
    background-color: rgba(198, 77, 41, 0.708);
    color: white;
    height: 200px;
}

#text_1 h3, #text_2 h3, #text_3 h3, #text_4 h3, #text_5 h3, #text_6 h3 {
    color: black;
}

#button_span > * { 
	text-decoration: none;
    color: black;
    font-family:sans-serif;
    padding: 15px;
    border: 2px solid black;
    display: table;
    margin: auto;
    width: 15vw;
    text-align: center;
    margin-bottom: 50px;
}

#text_1_2, #text_2_2, #text_3_2 {
    display: block;
    box-sizing: border-box;
    margin: 2.5rem;
    width: 280px;
    padding: 0.9375rem;
    height: 50vh;
    width: 50vw;
    text-align: left;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: beige;
  }

#box_1 {
    height: 140vh;
}

#box_2 {
    height: 110vh;
}

#box_3 {
    height: 100vh;
}

#box_1_2 {
    text-align: center;
    font-size: large;
    padding: 50px;
    width: 40vw;
    margin-left: 20px;
    margin: 60px;
    height: 140vh;
}

#box_2_2 {
    text-align: center;
    font-size: large;
    padding: 50px;
    width: 40vw;
    margin-left: 20px;
    margin: 60px;
    height: 100vh;
}

#box_3_2 {
    text-align: center;
    font-size: large;
    padding: 50px;
    width: 40vw;
    margin-left: 20px;
    margin: 60px;
    height: 100vh;
}

/* Portfolio */

.bakgrund {
    background-color: beige;
    padding-top: 80px;
    padding-bottom: 15px;
}

.gridWrapper {
    display: grid;
    margin: 25px;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-bottom: 100px;

    grid-template-areas: 
    "a1 a2 a3"
    "a4 a5 a6"
    "a7 a8 a9"
    "a10 a11 a12"
    ;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
}

article {
    width: 30vw;
    height: 20vw;
}

.article1 {
    grid-area: a1;
    background: url(../img/article.1.avif);
}

.article2 {
    grid-area: a2;
    background: url(../img/article.2.avif);
}

.article3 {
    grid-area: a3;
    background: url(../img/article.3.avif);
}

.article4 {
    grid-area: a4;
    background: url(../img/article.4.avif);
}

.article5 {
    grid-area: a5;
    background: url(../img/article.5.avif);
}

.article6 {
    grid-area: a6;
    background: url(../img/article.6.avif);
}

.article7 {
    grid-area: a7;
    background: url(../img/article.7.avif);
}

.article8 {
    grid-area: a8;
    background: url(../img/article.8.avif);
}

.article9 {
    grid-area: a9;
    background: url(../img/article.9.avif);
}

.article10 {
    grid-area: a10;
    background: url(../img/article.10.avif);
}

.article11 {
    grid-area: a11;
    background: url(../img/article.11.avif);
}

.article12 {
    grid-area: a12;
    background: url(../img/article.12.avif);
}

.article1_2 {
    grid-area: a1;
    background: url(../img/article.1.2.avif);
}

.article2_2 {
    grid-area: a2;
    background: url(../img/article.2.2.avif);
}

.article3_2 {
    grid-area: a3;
    background: url(../img/article.3.2.avif);
}

.article4_2 {
    grid-area: a4;
    background: url(../img/article.4.2.avif);
}

.article5_2 {
    grid-area: a5;
    background: url(../img/article.5.2.avif);
}

.article6_2 {
    grid-area: a6;
    background: url(../img/article.6.2.avif);
}

.article7_2 {
    grid-area: a7;
    background: url(../img/article.7.2.avif);
}

.article8_2 {
    grid-area: a8;
    background: url(../img/article.8.2.avif);
}

.article9_2 {
    grid-area: a9;
    background: url(../img/article.9.2.avif);
}

.article10_2 {
    grid-area: a10;
    background: url(../img/article.10.2.avif);
}

.article11_2 {
    grid-area: a11;
    background: url(../img/article.11.2.avif);
}

.article12_2 {
    grid-area: a12;
    background: url(../img/article.12.2.avif);
}


/* om mig */

#varför_matcha {
    background-color: rgba(198, 77, 41, 0.708);
}

#perfekt_match {
    background-color: beige;
    height: 30vh;
}

/* Kontakt*/

.sign-up-form {
    background-color: rgba(198, 77, 41, 0.708);
    display: flex;
    justify-content: center;
}

.form-input {
    margin-bottom: 1em;
  }

  .form-input input {
    width: 30vw;
    padding: 10px;
    border: none;
    font-weight: 600;
  }

  .submit-btn {
    cursor: pointer;
    width: 20vw;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 5px solid rgb(72, 69, 69);
    border-radius: 0.5em;
    background-color: black;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }

  .submit-btn:hover {
    background-color: rgb(95, 95, 95);
  }

/* Footer */

.footer {
    background-color: #65b1e7c0;
    padding: 40px 80px;
  }
  
  .footer .copy {
    color: black;
    text-align: center;
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
  }
    
  .bottom-links .links a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
  }